/core/tts_clients/Coqui/large_vocabulary.scorer
/core/tts_clients/Coqui/model.tflite
/venv/
/py10-venv/
/audio/misformatted/alright.m4a
/audio/wav/alright.wav
/audio/wav/alright2.wav
/audio/alteredA1.wav
/audio/alteredVideo.wav
/recording.wav
